# Dependencies
node_modules/
.pnpm-store/

# Build & Output
dist/
build/
.vite/

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma
/generated/prisma
